.btn {
    display: inline-block;
    padding: 6px 14px;
    background: #f2f2f2;
    border-radius: 3px;
    color: #7a7a7a;
    font-size: (13/$factor_font_size) + em;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;

    &:hover {
        background: darken(#f2f2f2, 5%);
        color: darken(#b9bcbc, 15%);
    }

    &.btn-primary {
        background: $primary;
        color: rgba(255,255,255,.9);

        &.active,
        &:hover {
            background: darken($primary, 5%);
        }
    }

    &.btn-large {
        padding: 12px 28px;
    }

    &.btn-caps {
        text-transform: uppercase;
    }

    &.btn-block {
        display: block;
        width: 100%;
        text-align: center;
    }
}
