.product_lists
{
	border-top: 1px solid #96c03d;
	line-height: 50px;
}

.purchase-list
{
	border-top: 1px solid #96c03d;
	line-height: 50px;
	background-color: #edeff0;
}

table {
	width: 100%;	
}