//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀
// VARIABLES
//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀
$primary: #dd5555;
$background: #ebebeb;
$space: 1rem;

//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀
// CSS RESET
//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    //outline: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1;
    font: inherit;
}

footer,
header,
main,
nav {
    display: block;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
/**:not(input):not(textarea) {
  -webkit-user-select: none; // disable selection/Copy of UIWebView
  -webkit-touch-callout: none; // disable the IOS popup when long-press on a link
}*/
body {
    background-color: #FFF;
}

img {
    display: inline-block;
    max-width: 100%;
}

input:not([type=checkbox]):not([type=radio]) {
    -webkit-appearance: none;
}

button {
    background: none;
    cursor: pointer;
}

form {
    width: 100%;
    height: 100%;
}

b {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: $space/2;
}

.aria-only-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀
// IMPORT
//■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀■▀

*,
*:after,
*:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: sub;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: $background;
    padding-top: 20px;
}

.btn {
    display: inline-block;
    padding: 6px 14px;
    background: #f2f2f2;
    border-radius: 3px;
    color: #7a7a7a;
    font-size: (13/16) + em;
    transition: background 0.3s ease, color 0.3s ease;
    text-decoration: none;

    &:hover {
        background: darken(#f2f2f2, 5%);
        color: darken(#b9bcbc, 15%);
    }

    &.btn-primary {
        background: $primary;
        color: rgba(255,255,255,.9);

        &.active,
        &:hover {
            background: darken($primary, 5%);
        }
    }

    &.btn-large {
        padding: 12px 28px;
    }

    &.btn-caps {
        text-transform: uppercase;
    }

    &.btn-block {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.box {
    background: #f9f9f9;
    box-shadow: 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);

    h2 {
        color: $primary;
        font-size: (16/14) + em;
    }

    p {
        font-size: (12/16) + em;
        color: #7d7d7d;
    }
}

.product {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;

    img {
        border-radius: 5px 0 0 0;
        min-width: 200px;
    }

    .details {
        padding: 10px 20px;

        p {
            line-height: 1.5em;
        }
    }
}
