{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <script src="/js/purchase.js"></script>
{% endblock %}


{% block main %}

    <div>
            <article class="box article-large">
                <h2>
                    Page en construction.
                </h2>
                <div>
                	<img class="center" src="{{ asset('images/barricade.svg') }}" width="256" height="240" alt="Travaux" />
                </div>

            </article>

    </div>

{% endblock %}

{% block sidebar %}


    {{ parent() }}

{% endblock %}
