
<fieldset>
    <legend><i class="fa fa-lock"></i> {{ 'title.create_user'|trans }}</legend>

	<form method="get" action="{{ path('user_new') }}">
		<button type="submit" class="btn btn-primary">
			<i class="fa fa-sign-in"></i> {{ 'action.create'|trans }}
		</button>
	</form>
</fieldset>