@font-face {
  font-family: lato;
  src: url("../fonts/lato/Lato-Regular.woff");
}

@font-face {
  font-family: roboto_slab;
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
}

/* line 26, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1;
  font: inherit;
}

/* line 40, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
footer,
header,
main,
nav {
  display: block;
}

/* line 47, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
html {
  font-family: 'roboto_slab', 'lato', 'Open Sans', sans-serif;
  font-size: 16px;
  font-color: #7d7d7d;
  /*font-family: 'Montserrat', sans-serif;*/
}

/**:not(input):not(textarea) {
  -webkit-user-select: none; // disable selection/Copy of UIWebView
  -webkit-touch-callout: none; // disable the IOS popup when long-press on a link
}*/
/* line 57, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
img {
  display: inline-block;
  max-width: 100%;
}

/* line 62, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
}

/* line 66, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
button {
  background: none;
  cursor: pointer;
}

/* line 71, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
form {
  width: 100%;
  height: 100%;
}

/* line 76, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
b {
  font-weight: 600;
}

/* line 80, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 85, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
p {
  margin-bottom: 0.5rem;
}

/* line 89, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.aria-only-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* line 1, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn {
  display: inline-block;
  padding: 6px 14px;
  background: #f2f2f2;
  border-radius: 3px;
  color: #7a7a7a;
  font-size: 0.8125em;
  transition: background 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

/* line 11, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn:hover {
  background: #e5e5e5;
  color: #929797;
}

/* line 16, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn.btn-primary {
  background: #dd5555;
  color: rgba(255, 255, 255, 0.9);
}

/* line 20, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn.btn-primary.active, .btn.btn-primary:hover {
  background: #d94040;
}

/* line 26, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn.btn-large {
  padding: 12px 28px;
}

/* line 30, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn.btn-caps {
  text-transform: uppercase;
}

/* line 34, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_btn.scss */
.btn.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 2, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product img {
  border-radius: 5px 0 0;
  min-width: 200px;
}

/* line 7, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details {
  padding: 10px 20px;
}

/* line 11, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details header h2 {
  flex-grow: 1;
}

/* line 15, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details header .mesure {
  margin: 0 2px;
}

/* line 19, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details header .mesure-id {
  font-size: 0.875em;
  padding: 0 10px;
  background-color: #dd5555;
  color: white;
}

/* line 26, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details header .mesure-value {
  font-size: 0.875em;
  font-weight: bold;
  padding: 0 10px;
  border-left: 1px solid #dd5555;
  border-bottom: 1px solid #dd5555;
  border-right: 1px solid #dd5555;
}

/* line 36, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/_product.scss */
.product .details p {
  line-height: 1.5em;
}

/* line 104, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* line 110, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: sub;
}

/* line 116, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
body {
  background: #ebebeb;
}

/* line 120, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
h1 {
  color: #dd5555;
  font-weight: bold;
  font-size: 1.75em;
}

/* line 126, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.box {
  background: #f9f9f9;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 133, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.box h2 {
  color: #dd5555;
  font-weight: bold;
  font-size: 1.4375em;
}

/* line 139, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.box h3 {
  font-size: 1.25em;
}

/* line 143, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.box p {
  font-size: 1.0625em;
  color: #7d7d7d;
}

/* line 148, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.box ul, .box ol {
  margin-left: 20px;
  font-size: 1.0625em;
  color: #7d7d7d;
}

/* line 155, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.navbar {
  color: #91AD37;
  background-color: #DDE236;
  border-width: 0;
  border: 1px solid transparent;
  border-color: transparent;
  z-index: 1000;
  position: relative;
  min-height: 60px;
  margin-bottom: 21px;
}

/* line 166, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* line 172, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.nav > li > a, .nav > li > a {
  color: #91AD37;
}

/* line 176, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #91AD37;
  color: white;
}

/* line 182, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.navbar-nav {
  margin: 7.5px -15px;
}

/* line 186, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.navbar-collapse {
  max-height: 340px;
  margin-right: -15px;
  margin-left: -15px;
}

/* line 192, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.nav > li {
  position: relative;
  display: block;
}

/* line 197, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  /* line 203, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .container {
    width: 750px;
  }
  /* line 207, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar-header {
    float: left;
  }
  /* line 211, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
  /* line 215, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar-collapse, .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
  /* line 220, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  /* line 235, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar-nav {
    float: left;
    margin: 0;
  }
  /* line 240, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .navbar-nav > li {
    float: left;
  }
  /* line 244, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3, .col-sm-9 {
    float: left;
  }
  /* line 248, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3 {
    width: 25%;
  }
  /* line 252, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  /* line 257, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .container {
    width: 970px;
  }
  /* line 260, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3, .col-sm-9 {
    float: left;
  }
  /* line 264, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3 {
    width: 25%;
  }
  /* line 268, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  /* line 273, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .container {
    width: 1170px;
  }
  /* line 276, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3, .col-sm-9 {
    float: left;
  }
  /* line 280, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-3 {
    width: 25%;
  }
  /* line 284, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
  .col-sm-9 {
    width: 75%;
  }
}

/* line 290, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Article */
/* line 298, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.article-large {
  padding: 20px;
}

/* line 301, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.article-large h2 {
  margin-top: 0px;
}

/* line 306, D:/Logiciels/wamp/www/fromagerie-vignoble/web/scss/fromagerie.scss */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

/* Product */

/*# sourceMappingURL=../css/fromagerie.map */