{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block main %}
	<div class="box article-large">
    	{% include 'common/login_form.html.twig' %}
    </div>

	<div class="separator">
		<p>OU</p>
	</div>
	
	<div class="box article-large">
		{% include 'common/signin_form.html.twig' %}
	</div>
{% endblock %}

{% block sidebar %}

{% endblock %}